* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background: url(./assets/bg-mobile-light.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

header {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 0;
    text-align: center;
}

nav {
    margin: 20px 0;
}

nav a {
    color: #0c0b0b;
    margin: 0 5px;
    text-decoration: none;
    padding: 20px;
}

.container {
    flex: 1; /* Faz a container ocupar todo o espaço disponível */
    width: 80%;
    margin: auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
}

section {
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: rgba(255, 255, 255, 0.8);
    color: #050505;
}
    